@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<html>

<head> 

    <title>Index</title>

</head>

<body>

    <div>

        <img src="@Url.Action("CharterHelp")" alt="Chart" />

    </div>

</body>

</html>